{% extends 'user/user_center.html' %}

{% block menmber_title %}订单评价{% endblock menmber_title %}

{% block menmber %}
<div id="commentGoods">
    {% for goods_order in goods_orders %}
    <div class="box has-background-primary-light">
        <div class="is-flex is-justify-content-space-between box is-radiusless is-marginless is-shadowless has-background-light">
            <div>
                <figure class=" image is-64x64">
                    <img src="{{ goods_order.image }}" alt="{{ goods_order.name }}" srcset="">
                </figure>
            </div>
            <div class="has-background-danger1 is-flex is-flex-direction-column is-justify-content-center is-flex-grow-1 pl-3 pr-3">
                <h1 class="has-text-weight-bold">{{ goods_order.name }}</h1>
                <div class="is-flex">
                    {% for option in goods_order.options %}
                    <span class="mr-3 has-text-grey-light">{{ option.spec }}：{{ option.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="has-background-danger1 is-flex is-justify-content-center is-align-items-center">
                <p class="has-text-danger-dark">¥ {{ goods_order.goods_dynamics.price }} x {{ goods_order.count }}</p>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        
        {% if not goods_order.is_commented %}
        <b-field>
            <b-input 
                custom-class="is-radiusless" 
                type="textarea" 
                placeholder="请发表您对货物最真实的感受评价..." 
                v-model="content" 
                :has-counter="false"
                maxlength="200">
            </b-input>
        </b-field>
        <div class="block">
            <b-radio v-model="radio"
                name="comment_choices"
                native-value="5">
                好评
            </b-radio>
            <b-radio v-model="radio"
                name="comment_choices"
                native-value="3">
                中评
            </b-radio>
            <b-radio v-model="radio"
                name="comment_choices"
                native-value="1">
                差评
            </b-radio>
        </div>
        <div class=" has-text-right">
            <b-button type=" is-primary" @click="pushComment('{{ goods_order.id }}')">发表评价</b-button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block vue %}
    <script>
        var commentGoods = new Vue({
            el: '#commentGoods',
            delimiters: ['{$', '$}'],
            data: {
                content: '',
                radio:'5'
            },
            methods: {
                pushComment(goods_order_id){
                    console.log(goods_order_id)
                    request({
                        url: '{% url "order:comment" order_id %}',
                        method: 'post',
                        data: {
                            content: this.content,
                            choices: Number(this.radio),
                            goods_order_id: Number(goods_order_id),
                        }
                    }).then(res => {
                        if (res.data.status == 200){
                            bayke.toastMessage('is-success', '评价成功！')
                            setTimeout(function(){location.href="{% url 'order:comment' order_id %}"}, 2000)
                        }
                        else {
                            bayke.toastMessage('is-danger', res.data.errmsg)
                        }
                    })
                }
            },
        })
    </script>
{% endblock %}