{% extends 'user/user_center.html' %}

{% block title %} 订单详情 {% endblock %}

{% block menmber %}

<div class="box is-radiusless is-marginless pt-6" id="orderStatus">
    <b-steps v-model="activeStep" :has-navigation="false">
        <b-step-item label="待付款" icon="account-key" :clickable="false"></b-step-item>
        <b-step-item label="待发货" icon="car" :clickable="false"></b-step-item>
        <b-step-item label="待收货" icon="account-plus" :clickable="false"></b-step-item>
        <b-step-item label="待评价" icon="comment-plus" :clickable="false"></b-step-item>
        <b-step-item label="已完成" icon="store" :clickable="false"></b-step-item>
    </b-steps>
</div>

<div class="box is-radiusless is-marginless is-shadowless">
    <h1 class=" is-size-5">订单信息</h1>
    <div class="dropdown-divider"></div>
    <ul style="line-height: 30px;">
        <li>订单编号：{{ order.trade_no }}</li>
        
        <li>订单日期：{{ order.create_time }}</li>
        
        <li>支付状态：{{ order.pay_status }}</li>

        {% if order.status > 1 %}
            <li>支付方式：{{ pay_method }}</li>
        {% endif %}

        <li>订单金额：¥{{ order.total_price }}</li>

        <li>订单留言：{{ order.mark }}</li>
    </ul>
</div>
<div class="box is-radiusless is-marginless1 is-shadowless">
    <h1 class=" is-size-5">收货信息</h1>
    <div class="dropdown-divider"></div>
    <ul style="line-height: 30px;">
        <li>签收人：{{ address.recipient }}</li>
        <li>手机号：{{ address.phone }}</li>
        <li>收货地址：{{ address.province }}{{ address.city }}{{ address.country }}{{ address.detail_address }}</li>
    </ul>
</div>

<div class="box is-radiusless mb-4 is-shadowless">
    <h1 class=" is-size-5">商品信息</h1>
    <div class="dropdown-divider"></div>
    {% for goods_order in order.goods_orders %}
    <div class="is-flex is-justify-content-space-between">
        <div>
            <figure class=" image is-96x96">
                <img src="{{ goods_order.image }}" alt="{{ goods_order.name }}" srcset="">
            </figure>
        </div>
        <div class="has-background-danger1 is-flex is-flex-direction-column is-justify-content-center is-flex-grow-1 pl-3 pr-3">
            <h1 class="has-text-weight-bold">{{ goods_order.name }}</h1>
            <div class="is-flex">
                {% for option in goods_order.options %}
                <span class="mr-3 has-text-grey-light">{{ option.spec }}:{{ option.name }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="has-background-danger1 is-flex is-justify-content-center is-align-items-center">
            <p class="has-text-danger-dark">¥ {{ goods_order.goods_dynamics.price }} x {{ goods_order.count }}</p>
        </div>
    </div>

    <div class="dropdown-divider"></div>
    {% endfor %}
    <div id="orderAction">
        <p class=" has-text-weight-bold pt-1 pb-1 has-text-right">共{{ order.total_count }}件商品，总金额{{ order.price }}元（含运费）</p>
        <div class=" buttons is-justify-content-end">
        {% if order.status == 1 %}
            <a class="button is-primary is-small" href="{% url 'order:pay' order.order_id %}">立即支付</a>
        {% elif order.status == 3 %}
            <button class="button is-primary is-small" @click="confirmProduct">确认收货</button>
        {% elif order.status == 4 and not is_commented %}
            <a class=" button is-primary is-small" href="{% url 'order:comment' order.order_id %}">立即评价</a>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block vue %}
<script>
    var orderStatus = new Vue({
        el: '#orderStatus',
        delimiters: ['{$', '$}'],
        data:{
            activeStep: 0,
        },
        created(){
            this.orderStatusMethod()
        },
        methods:{
            orderStatusMethod() {
                switch (Number('{{ order.status }}')) {
                    case 1:
                        this.activeStep = 0;
                        break;
                    case 2:
                        this.activeStep = 1;
                        break;
                    case 3:
                        this.activeStep = 2;
                        break;
                    case 4:
                        this.activeStep = 3;
                        break;
                    case 5:
                        this.activeStep = 4;
                        break;
                }
            },
        }
    })
</script>

<script>
    var confirmAction = new Vue({
        el: '#orderAction',
        delimiters: ['{$', '$}'],
        methods: {
            confirmProduct(){
                request({
                    url:'{% url "order:confirm" %}',
                    method: 'post',
                    data: {
                        order_id: {{ order.order_id }}
                    }
                }).then(res => {
                    if (res.data.status == 200) {
                        bayke.toastMessage('is-success', res.data.msg)
                        setTimeout(function(){location.reload()}, 2000)
                    }
                    else {
                        bayke.toastMessage('is-danger', res.data.errmsg)
                    }
                })
            }
        }
    })
</script>
{% endblock %}
    